
[data-theme-version="dark"] {
    .dropdown-menu {
        background-color: $d-bg;
		box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.10);
		
		.dropdown-item {
			&.selected,
			&.selected.active,
			&.active,
			&:hover, 
			&:focus {
				background-color: $dark-card;
				color: $body-color;
			}
		}
    }
	.sidebar-right{
		.dropdown-menu{
			background-color:$white;
			.dropdown-item {
				&.selected,
				&.selected.active,
				&.active,
				&:hover, 
				&:focus {
					background-color:$white;
				}
			}
		}
		
	}
    .nav-link{
        svg{
            path{
                fill: $primary;
            }
        }
    }
    
    .text-black{
        color: var(--primary)!important;
    }
    .btn-light{
        background: var(--rgba-primary-1) ;
        border-color: var(--rgba-primary-1) !important;
        color: #fff;
    }
    /* svg{
        g{        
            circle{
                fill: #fff;
            }
        }
    } */
    
    .stacked:after, .stacked:before{
        background: $dark-card;
    }
    
    .stacked-2{    
        &:after{
            background: $d-border;
        }
        &:before{
            background: $dark-card;
        }
    }
    
    .card-bx a{
        background: $dark-card;
    }
    .form-control {
        background-color: $dark-card!important;
        border-color: $d-border;
        color: $white;
    }
    
    .card {
        background-color: $dark-card;
		box-shadow:none;
    }
	.btn-outline-dark:hover{
		background-color: $d-bg;
		border-color: $d-bg;
	}
	.tdl-holder input[type=text],
	.tdl-holder li{
	    background-color: $dark-card;
		border-color:$d-border;
	}
	.tdl-holder input[type=text]{
		&::placeholder {
			color: $d-ctl;
		}
	}
    .tdl-holder label:hover {
		background-color: $d-border;
		color: $white;
	}
	.text-muted {
		color: $d-ctl !important;
	}
	.modal-content{
		background:$dark-card;
	}
	.modal-footer,
	.modal-header{
		border-color: $d-border;
	}
	.close{
	    font-weight: 400;
		color: $white;
		text-shadow: none;
		
		&:hover{
			color: $white;
		}
	}
	.table strong {
		color: #fff;
	}
	.text-dark {
		color: $d-ctl !important;
	}
	.star-rating .product-review,
	.new-arrival-content .item{
		color: $white;
	}
	.custom-dropdown .dropdown-menu{
		border-color: $d-border;
	}
	.widget-stat .media > span{
	    background: $d-border;
	    border-color: $d-border;
		color:$white;
	}
	.plus-minus-input .custom-btn{
		background: $d-bg;
	    border-color: $d-border;
	}
	.dropdown-divider,
	.size-filter ul li{
		border-color: $d-border;
	}
	.custom-select{
	    border-color: $d-border;
		color: $d-ctl;
		background:$d-bg;
	}
	.nav-tabs{
		border-color: $d-border;
		//background-color: var(--rgba-primary-1);
	}
	.mail-list .list-group-item.active i {
		color: $white;
	}
	hr{
		border-color: $d-border;
	}
	
	.grid-col,
	.login-account{
		background:$d-bg;
	}
	.login-account .login-form .login-title:before, .login-account .login-form .login-title:after{
		background-color:$d-border;
	}
	.authincation {
		background-image: url(../images/student-bg-recovered.jpg) !important;

	}
	.error-page p{
		color:$body-bg;
	}
	
	.noUi-target{
		border-color:$d-border;
		border-radius: 8px;
		box-shadow: none;
		
		.noUi-connects{
			background:$d-border;
		}
	}
	.noUi-marker-large,
	.noUi-marker{
		background:$d-border;
	}
	.input-group-text{
		//background:$dark-card!important;
		background-color:$d-bg;
		color:$white;
		border-color:$d-border;
	}
	.gradient-bx{
		.border {
			border: 1px solid #f7f7f7 !important;		
		}		
	}
	.note-editor.note-frame{
		border-color:$d-border;
		.btn{
			color:$white;
		}
		.note-editing-area .note-editable{
			color:$white;
		}
	}
	.widget-media .timeline .timeline-panel{
		border-color:$d-border; 
	}
    .border-start,
    .border-end,
    .border-top,
    .border-bottom{
        border-color:$d-border !important;
    }
	.notification_dropdown .dropdown-menu-right .all-notification{
		border-color:$d-border; 
	}
	#user-activity .nav-tabs .nav-link{
		border-color:$d-border; 
	}
    .badge-light{
        color: #000;
    }
	.list-group-item-action{
		color:$body-color;
	}
	.list-group-item-action:focus, 
	.list-group-item-action:hover, 
	.list-group-item-action:focus{
		background-color:$d-bg; 
		border-color:$d-bg; 
	}
	.list-group-item.active{
		color:$white;
		border-color:var(--primary);
		&:focus, 
		&:hover, 
		&:focus{
			background-color:var(--primary); 
			border-color:var(--primary); 
			color:$white;
		}
	}
	.swal2-popup{
		background:$dark-card;
	}
	
	.dashboard_bar{
		color:$white;	
	}
	.text-black{
		color:$white!important;	
	}
	.apexcharts-text tspan{
		fill:$white;	
	}
	.apexcharts-legend-text{
		color: white!important;	
	}
	.table tbody tr td{
		color:$body-color;	
	}
	table{
		&.primary-table-bg-hover{
			td{
				color:$white!important;
			}
		}
	} 
    .table{
        thead, tbody, tfoot, tr, td, th{
            border-color: $d-border;
        }
    }
	.dataTables_info{
		color:$white;	
	}
	.dataTables_wrapper {
        .dataTables_paginate {
            background-color: $dark-card !important;
            .paginate_button.previous {
                background-color: $d-bg !important;           
                color: $white !important;
            }
            .paginate_button.next {
                background-color: $d-bg !important;           
                color: $white !important;
            }
        }
        .dataTables_length,
        .dataTables_filter{
            color: #fff!important;
        }
    }
	.dataTablesCard{
		background-color:$dark-card;
		border-color:$d-border;
		.even{
			background-color:$dark-card!important;	
			&:hover{
				td{
					color:$black;	
				}
			}
		}
	}
	table.dataTable.patient-list tbody tr:hover{
		background:$dark-card!important;	
	}
	#example5{
		.even{
			&:hover{
				td{
					color:$white;	
				}	
			}	
		}	
	}
	table.dataTable thead th{
		border-color:$d-border;	
	}
	.btn-link{
		svg{
			path{
				stroke:$white;	
				fill:$white;	
			}	
		}	
	}
	.bgl-dark{
		background:$d-bg;	
	}
	.bg-white{
		background-color:$dark-card!important;	
	}
	.assigned-doctor2 .owl-next, .assigned-doctor2 .owl-prev{
		background:$d-bg;		
	}
	
	.abilities-chart .ct-chart .ct-label{
		fill:$white;	
	}
	.review-table{
		border-color:$d-border;	
		.review-bx{
			border-color:$d-border;		
		}
	}
	.review-tab.nav-pills li a.nav-link{
		background:$dark-card;
		color:rgba($white,0.6);
		&.active{
			color:$white;	
		}
	}
	.apexcharts-gridlines-horizontal{
		line{
			stroke:$d-border
		}	
	}
	.assigned-doctor .owl-next, .assigned-doctor .owl-prev{
		background:$d-bg;	
	}
	.hamburger .line{
		background:$white!important;	
	}
	.menu-toggle .deznav .metismenu li > ul{
		background:$dark-card!important;	
	}
	.staf-info span{
		color: #fff;
	}
	.legendLabel {
		color: $white;
	}
    .testimonial-one.owl-carousel{
        .owl-nav{
            .owl-prev,.owl-next{
                border:8px solid $d-bg;
                background: $dark-card;
            }
        }
    }
    .payment-bx {
        .accordion__item{
            .accordion__header{
                &.collapsed{
                    background-color: $d-bg;
                    .btn-outline-success,.btn-outline-warning,.btn-outline-danger{
                        background:rgba($white,0);
                    }
                }
                h6 a{
                    color: #fff !important;
                }
                span{            
                    color: #fff !important;
                }
            }
        }
        .accordion__body{
            background-color: $d-bg;            
        }
    }
    .default-select{
        &.style-1{
            .btn{
                background-color: var(--rgba-primary-1)!important;
                border-color: var(--rgba-primary-1)!important;
                &.dropdown-toggle{
                    .filter-option{
                        color: #fff;
                    }
                }
            }
        }
    }
    .btn-close{
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    }
    .compose-content .dropzone{
        background: $dark-card !important;
        border-color: $d-border;
    }
    .new-arrival-content h4 a, .new-arrival-content .h4 a{
        color: #fff;
    }
    .list-group-item{
        color: #fff;
    }
    .logo-compact{
        filter: brightness(20);    
    }
    .dropdown{
        svg{
            circle{
                fill: #fff;
            }
        }
    }
    .fc-theme-standard td, .fc-theme-standard th,
    .fc .fc-button-group > .fc-button{
        border-color: $d-border;
    }
    .fc-theme-standard .fc-scrollgrid.fc-scrollgrid-liquid, .fc-scrollgrid, table{
        border-color: $d-border;
    }
	.form-check-input{
		background-color:$d-bg;
		border-color:$d-border;
		&:checked{
			background-color:var(--primary);
			border-color:var(--primary);
		}
	}
	.nav-tabs{
		&.slide-item-list{
			background-color:transparent;
		}
	}
	.nav-link{
		&.inactive{
			span{
				background-color:$d-bg!important;
			}
		}
	} 
	.form-wizard .nav-wizard li .nav-link:after{
		background-color:$d-border!important;
	}
	.ck.ck-editor .ck-content,
	.ck.ck-editor .ck.ck-toolbar{
		background-color:$d-bg!important;
	}
	.ck.ck-editor__main>.ck-editor__editable:not(.ck-focused){
		border-color:$d-border;
	}
	.card-action{
		.nav-tabs{
			background-color:var(--rgba-primary-1);
			.nav-link{
				color:var(--primary);
				
				&.active{
					color:$white;
				}

			}
		}
	}
	.notification_dropdown .dropdown-menu-end .all-notification{
		border-color:$d-border;
	}
	.form-group.style-1 .form-control{
		background-color:$d-bg!important;
	}
	.custom-tab-1 .nav-link:focus, .custom-tab-1 .nav-link:hover, .custom-tab-1 .nav-link.active{
		background-color:var(--rgba-primary-1);
	}
	
	
}	