

.asColorPicker-dropdown {
    max-width: 26rem;
}

.asColorPicker-trigger {
    border  : 0 none;
    height  : 100%;
    position: absolute;
    right: 0;
    top     : 0;
    width   : 2.1875rem;
	border-radius:0 $radius $radius 0;
}
[direction="rtl"] .asColorPicker-trigger{
	left: 0;
	right: auto;
}
.asColorPicker-clear {
    display        : none;
    position       : absolute;
    right          : 1rem;
    text-decoration: none;
    top            : .5rem;
}



.daterangepicker {
    td.active {
        background-color: var(--primary);
		color:$white!important;
		

        &:hover {
            background-color: var(--primary);
        }
    }

    button.applyBtn {
        background-color: var(--primary);
        border-color: var(--primary);
    }
}

.datepicker {

    &.datepicker-dropdown {
        background: $l-bg;
        border-radius: 0.0625rem;
        border: 0.0625rem solid $gallery;

        td.day, th.next, th.prev {
            height: 1.875rem;
            width: 1.875rem !important;
            padding: 0;
            text-align: center;
            font-weight: 300;
            border-radius: 3.125rem;

            &:hover {
                @extend %gradient-9;
                box-shadow: 0rem 0rem 1.875rem 0.3125rem rgba(243,30,122,0.3);
                color: $white;
            }
        }

        th.datepicker-switch, th.next, th.prev {
            font-weight: 300;
            color: $heading;
        }

        th.dow {
            font-weight: 300;
        }
    }
    table {

        

        tr td.selected, tr td.active.active {
            @extend %gradient-9;
            box-shadow: 0rem 0rem 1.875rem 0.3125rem rgba(243,30,122,0.3);
            border: 0;
        }

        tr {
            td.today {
                @extend %gradient-9;
                box-shadow: 0rem 0rem 1.875rem 0.3125rem rgba(243,30,122,0.3);
                color     : #ffffff;

                &:hover {
                    @extend %gradient-9;
                    box-shadow: 0rem 0rem 1.875rem 0.3125rem rgba(243,30,122,0.3);
                    color     : #ffffff;
                }
            }

            td.today.disabled {
                @extend %gradient-9;
                box-shadow: 0rem 0rem 1.875rem 0.3125rem rgba(243,30,122,0.3);
                color     : #ffffff;

                &:hover {
                    @extend %gradient-9;
                    box-shadow: 0rem 0rem 1.875rem 0.3125rem rgba(243,30,122,0.3);
                    color     : #ffffff;
                }
            }
        }
    }
}


.picker {
    &__select--month, &__select--year {
        height: 2.5em;
    }

    &__input {
        background-color: transparent !important;

        @at-root [data-theme-version="dark"] & {
            background-color: transparent !important;
            border: 0.0625rem solid $d-border;
        }
    }
}

// -------Clock -picker---

.dtp div.dtp-date, .dtp div.dtp-time {
    background:var(--primary);
}
.dtp > .dtp-content > .dtp-date-view > header.dtp-header {
    background: #53c9fd;
}
.material-icons {
    color: $white;
}
.dtp .dtp-buttons {
   background-color: #53c9fd;
   .btn-flat{
        color: #fff;
   }
}
.dtp table.dtp-picker-days{
    tr{
        td{
            a.selected {
                background: #53c9fd;
                color: $white;
            }
        }  
    } 
} 


    circle[r='192'] {
        fill: var(--primary);
        stroke: #f4f4f4;
    }
    line.hour-hand {
        stroke: #53c9fd;
    }
    circle#h-16 {
        fill: #53c9fd;
    }
    line.minute-hand {
        stroke: #53c9fd;
    }
    circle[r='15'] {
        fill: #53c9fd;
    }
    text.dtp-select-hour-text {
        fill: #fff;
        font-weight: 500;
    }
    .dtp div.dtp-date, .dtp div.dtp-time {
        background: var(--primary);
        
    } 
.asColorPicker-trigger span{
	border-radius:0 $radius $radius 0;
}
.daterangepicker .calendar-table th, .daterangepicker .calendar-table td{
	width:33px;
	height:33px;
	border-radius:5px!important;
	color:#B5B5C3;
}
.daterangepicker td.in-range{
	background-color:transparent;
	color:#5E6278!important;
}
.daterangepicker .calendar-table th{
	font-size:14px;
	font-weight:500;
	color:#3F4254;
}
button.cancelBtn.btn.btn-sm.btn-inverse{
	background-color:#f9f9f9;
}
.daterangepicker{
	box-shadow:0px 0px 50px 0px rgba(82, 63, 105, 0.15);
	border:0;
}
.daterangepicker .calendar-table .next span, .daterangepicker .calendar-table .prev span{
	border-width:0 1.9px 1.9px 0;
	border-color:$light;
}
