
// Basic Input

.form-control{
   
    background: $white;
    border: 0.0625rem solid $border;
	padding: 0.6875rem 1.25rem;
    color: $dark;
	height: 2.875rem;
	border-radius:$radius;
	@include respond('laptop') {
		height: 2.5rem;
	}
    &:hover,&:focus,&.active{
        box-shadow: none;
        background: $white;
        color: $dark;
    }
	&:focus{
		border-color:var(--primary);
	}
	&.solid{
		background:$body-bg;
		border-color:#ececec;
		color:#000;
		&[type="file"]{
			padding: 6px 10px;
		}
	}
	&-lg {
		min-height: 3.75rem;
		padding: 0.5rem 1.1rem;
		font-size: 1.09375rem;	
		border-radius: $radius ;
		line-height: 2.8125rem;
	}
	&-sm{
		min-height: 2.5rem;
		height: auto;
		border-radius: $radius;
	}
		
}



.input-rounded {
    border-radius: 6.25rem;
}


// Input Color
[data-theme-version="light"],
[data-theme-version="dark"] {
	.input-primary{
		.form-control{
			border-color:var(--primary);
		}	
		.input-group-text{
			background-color:var(--primary);
			color:$white;
            border-color: var(--primary);
		}
	}
	.input-danger{
		.form-control{
			border-color:$danger;
		}	
		.input-group-text{
			background-color:$danger;
			color:$white;
            border-color: $danger;
		}
	}
	.input-info{
		.form-control{
			border-color:$info;
		}	
		.input-group-text{
			background-color:$info;
			color:$white;
            border-color: $info;
		}
	}
	.input-success{
		.form-control{
			border-color:$success;
		}	
		.input-group-text{
			background-color:$success;
			color:$white;
            border-color: $success;
		}
	}
	.input-warning{
		.form-control{
			border-color:$warning;
		}	
		.input-group-text{
			background-color:$warning;
			color:$white;
            border-color: $warning;
		}
	}
}
// Input Outline
[data-theme-version="light"],
[data-theme-version="dark"] {
	.input-primary-o{
		.form-control{
			border-color:var(--primary);
			
		}	
		.input-group-text{
			background-color:transparent;
			border-color:var(--primary);
			color:var(--primary);
		}
	}
	.input-danger-o{
		.form-control{
			border-color:$danger;
		}	
		.input-group-text{
			background-color:transparent;
			border-color:$danger;
			color:$danger;
		}
	}
	.input-info-o{
		.form-control{
			border-color:$info;
		}	
		.input-group-text{
			background-color:transparent;
			border-color:$info;
			color:$info;
		}
	}
	.input-success-o{
		.form-control{
			border-color:$success;
		}	
		.input-group-text{
			background-color:transparent;
			border-color:$success;
			color:$success;
		}
	}
	.input-warning-o{
		.form-control{
			border-color:$warning;
		}	
		.input-group-text{
			background-color:transparent;
			border-color:$warning;
			color:$warning;
		}
	}
}

// Input Group
.input-group-text{
    background: #f2f2f2;
    border: 0.0625rem solid #f2f2f2;
    min-width: 3.125rem;
    display: flex;
    border-radius: $radius;
    justify-content: center;
	padding: 0.232rem 0.75rem;
	
    i{
        font-size: 1rem;
    }
}
.form-file-label{
    height: 2.5rem;
	padding: 0.5rem 0.75rem;
}
.input-group-prepend .btn,
.input-group-append .btn {
    z-index: 0;
}
.custom-select{
    background: none;
    border-color: $border;
    color: $dark;
    &:focus{
        box-shadow: none;
        border-color: var(--primary);
        color: var(--primary);
    }
}
.form-file-label{
	background: #656C73;
	white-space: nowrap;
	color: $white;
	@at-root [data-theme-version="dark"] & {
		background: $d-border;
		border-color: $d-border;
		color: $body-color;
	}
}

.custom_file_input {
    .input-group-prepend, 
    .input-group-append {
      
    }

    .form-file-label::after {
        height: 100%;
    }
}


.form-control:disabled,
 .form-control[readonly] {
    background: $white;
    opacity: 1;
}

.form-file{
	border: 0.0625rem solid $border;
    background: $white;
    overflow: hidden;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
	@at-root [data-theme-version="dark"] & {
        background: $d-bg;
		border-color: $d-border;
    }
}
.input-group{
	> .form-control-plaintext,
	  > .form-select,
	  > .form-file {
		position: relative; // For focus state's z-index
		flex: 1 1 auto;
		// Add width 1% and flex-basis auto to ensure that button will not wrap out
		// the column. Applies to IE Edge+ and Firefox. Chrome does not require this.
		width: 1%;
		margin-bottom: 0;

	  }
	/* &> .form-file {
		display: flex;
		align-items: center;

		&:not(:last-child) .form-file-label,
		&:not(:last-child) .form-file-label::after { @include border-right-radius(0); }
		&:not(:first-child) .form-file-label { @include border-left-radius(0); }
	  } */
}


.select2-container--default 
.select2-selection--multiple
 .select2-selection__choice{
	border-radius:$radius;
}

.form-file{
	.form-control{
		margin:0;
		border-radius:0;
		border:0;
		height:auto;
        padding: 5px 10px;
	}
}

.form-control-lg{
	height: 60px;
}
.form-control-sm{
	height: 30px;
}
.form-control.default{
	height: 50px;
}
.br-style{
	border-top-right-radius: $radius !important;	
	border-bottom-right-radius: $radius !important;	
}


.default-select{
    &.size-2{
        .btn{
            font-size: 0.765625rem;
            line-height: 1.5;
            border-radius: 50px;    
        }
    }
    &.size-3{
        .btn{
            height: calc(1.5em + 0.5rem + 2px);
            padding: 0.25rem 0.5rem;
            font-size: 0.765625rem;
            line-height: 1.5;
            border-radius: 0.2rem; 
        }
    }
}
.Confirm{
    white-space: nowrap;
    @include respond ('phone'){
        display: block !important;    
    }
}
.Confirm-btn{
    white-space: nowrap;
}
.form-control[type="file"]{
    line-height: 35.6px;
    padding-left: 12px;
}
.form-control-sm[type="file"]{
    line-height: 30px;
    padding: 4px;
    padding-left: 8px;
}
.form-control-lg[type="file"]{
	line-height:44px;
	padding-left:10px;
}
